<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card privacy-bg py-3 px-3 rounded my-3">
        <div class="card-body">
          <div class="media">
            <i class="icon-for-bottom mr-4 fas fa-copy"></i>
            <div class="media-body">
              <h5 class="mt-0 text-white feedback-title">Privacy Policy</h5>
              <p class="text-white feedback-para">If you're curious on how you're data is collected once you submit an application, then read our privacy policy. You can find a link to it in the footer or you can just click on the link below.</p>
              <a href="Privacy.html" target="_blank" class="text-warning">Learn more <i class="fas fa-arrow-right ml-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card bg-primary py-3 px-3 rounded my-3">
        <div class="card-body">
          <div class="media">
            <i class="icon-for-bottom mr-4 fas fa-comments"></i>
            <div class="media-body">
              <h5 class="mt-0 text-white feedback-title">Feedback</h5>
              <p class="text-white feedback-para">If you have any questions, comments, ideas, confusion, or concerns about YTS or the website, then please be sure to give us feedback. We are always open to what our visitors have to say! </p>
              <a href="#" class="text-warning" data-toggle="modal" data-target="#Feedback">Send us Feedback <i class="fas fa-arrow-right ml-1"></i></a>

      <div class="modal fade" id="Feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title position-title" id="exampleModalLabel">Send YTS a Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label position-title">Topic</label>
                  <select class="form-control position-para" name="Feedback">
                    <option>Select an option...</option>
                    <option>General Feedback</option>
                    <option>YTS Support</option>
                    <option>Error/Bug with the website</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label position-title">Message:</label>
                  <textarea class="form-control position-para" id="message-text" placeholder="Enter your message" required></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary position-para" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary position-para">Send message</button>
            </div>
          </div>
        </div>
      </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 py-5" style="background: #212529;">
  <div class="container text-center">
      <h1 id="newsletter-h1">Subscribe for bimonthly news</h1>
      <p class="text-white">Have our latest content, updates, and ideas sent straight into your inbox. Bimonthly newsletter updates.</p>
      <form action="/newsletter" method="POST" class="d-inline-block mt-2">
          <div class="row form-inline">
              <input type="email" name="email" class="form-control mr-2" placeholder="Your email here">
              <input type="submit" class="form-control btn-primary">
          </div>
      </form>
  </div>
</div>

<div id="footer-bg">
  <div class="container">
    <footer class="page-footer font-small stylish-color-dark pt-4">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">Our Mission</h5>
            <p class="footer-links">We are an educational resource with a strightforward vision, to educate the youth in the area of technology.</p>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">Projects</h5>
            <ul class="list-unstyled">
              <li><a href="/articles" class="footer-links">YTS Articles</a></li>
              <li><a href="/coding101" class="footer-links">Coding101</a></li>
              <li><a href="/coding101/python" class="footer-links">Python Course</a></li>
              <li class="footer-links" style="text-decoration: line-through;">Techub</li>
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">About</h5>
            <ul class="list-unstyled">
              <li><a href="/apply" class="footer-links">Apply</a></li>
              <li><a href="/team" class="footer-links">Our Team</a></li>
              <li><a href="/faq" class="footer-links">FAQ's</a></li>
              <!-- <li><a href="#!" class="footer-links"></a></li> -->
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">More</h5>
            <ul class="list-unstyled">
              <li><a href="Privacy.html" class="footer-links">Privacy</a></li>
              <li><a href="#!" class="footer-links">Legal</a></li>
              <li><a href="#!" class="footer-links">Donate</a></li>
              <li><a href="#!" class="footer-links">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr>
<!-- 
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item"><h5 class="mb-1">Follow @YTS on Social Media</h5></li>
        <li class="list-inline-item"><a href="#!" class="btn btn-danger btn-rounded">Sign up!</a></li>
      </ul>

      <hr> -->

      <div class="text-center">
        <a href="https://twitter.com/YTS_youthtech" target="_blank"><i class="footer-social-media fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/youth-tech-society/?viewAsMember=true" target="_blank"><i class="footer-social-media fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/youthtechsociety/" target="_blank"><i class="footer-social-media fab fa-instagram"></i></a>
        <a href="mailto:youthtechnologysociety@gmail.com" target="_blank"><i class="footer-social-media fab fa-google"></i></a>
      </div>
      

      <div class="footer-copyright text-center py-3 footer-links mt-2"><!-- © --> 2019 - <!-- Copyright: -->
        Youth Tech Society | <a href="#" class="footer-privacy-legal">Privacy</a>
      </div>
    </footer>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>