<div id="footer-bg">
  <div class="container">
    <footer class="page-footer font-small stylish-color-dark pt-4">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">Our Mission</h5>
            <p class="footer-links">We are an educational resource with a strightforward vision, to educate the youth in the area of technology.</p>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">Projects</h5>
            <ul class="list-unstyled">
              <li><a href="Article.html" class="footer-links">YTS Articles</a></li>
              <li><a href="Coding101.html" class="footer-links">Coding101</a></li>
              <li><a href="#!" class="footer-links">Python Course</a></li>
              <li class="footer-links" style="text-decoration: line-through;">Techub</li>
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">About</h5>
            <ul class="list-unstyled">
              <li><a href="Apply.html" class="footer-links">Apply</a></li>
              <li><a href="Creators.html" class="footer-links">Our Team</a></li>
              <li><a href="FAQ's.html" class="footer-links">FAQ's</a></li>
              <li><a href="#!" class="footer-links"></a></li>
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-2 mx-auto">
            <h5 class="footer-titles mt-3 mb-4">More</h5>
            <ul class="list-unstyled">
              <li><a href="Privacy.html" class="footer-links">Privacy</a></li>
              <li><a href="#!" class="footer-links">Legal</a></li>
              <li><a href="#!" class="footer-links">Donate</a></li>
              <li><a href="#!" class="footer-links">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr>
<!-- 
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item"><h5 class="mb-1">Follow @YTS on Social Media</h5></li>
        <li class="list-inline-item"><a href="#!" class="btn btn-danger btn-rounded">Sign up!</a></li>
      </ul>

      <hr> -->

      <div class="text-center">
        <a href="https://twitter.com/YTS_youthtech" target="_blank"><i class="footer-social-media fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/youth-tech-society/?viewAsMember=true" target="_blank"><i class="footer-social-media fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/youthtechsociety/" target="_blank"><i class="footer-social-media fab fa-instagram"></i></a>
        <a href="mailto:youthtechnologysociety@gmail.com" target="_blank"><i class="footer-social-media fab fa-google"></i></a>
      </div>
      

      <div class="footer-copyright text-center py-3 footer-links mt-2"><!-- © --> 2019 - <!-- Copyright: -->
        Youth Tech Society | <a href="#" class="footer-privacy-legal">Privacy</a> | <a href="#" class="footer-privacy-legal">Legal</a>
      </div>
    </footer>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>