<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/apply.css">
</head>

<div id="mainJumbotron" class="jumbotron text-center">
  <h1 class="display-1 pb-3 px-4 " id="Apply">Apply</h1>
</div>

  
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img src="./assets/apply_main.svg" class="img-fluid">
    </div>
    <div class="col-lg-5 mr-5">
      <ul class="timeline">
        <li>
          <a class="benefits-title">Build Your Résumé</a>
          <p class="benefits-para">Join our mission of trying to teach the youth the skills they need for landing a career in tech; all while building your experience and résumé.</p>
        </li>
        <li>
          <a class="benefits-title">Growth</a>
          <!-- <a href="#" class="float-right">4 March, 2014</a> -->
          <p class="benefits-para">Build up/upon your skills and earn the tools to grow to your maximum potential as you help educate children in over 7 countries.</p>
        </li>
        <li>
          <a class="benefits-title">The Staff</a>
          <p class="benefits-para">At YTS, our friendly staff will guide and encourage you as you get adjusted to our unique environment. You'll get the opportunity to develop your skills in a stress-free environment.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="requirements-bg">
  <div class="container mt-5 py-5">
    <center>
      <span class="text-center badge badge-pill badge-success requirements-badge py-3 px-3 mb-4"><i class="fas fa-arrow-down mr-2"></i> Please Read  <i class="fas fa-arrow-down ml-2"></i></span>
    </center>
    <h1 class="requirements-title text-white">General Requirements</h1>
    <p class="requirements-para px-lg-5 mx-lg-5">In order to apply for YTS, the following requirements must be met. After you've read the requirements, you can scroll down to see all the available roles and positions. If you're too lazy to scroll, just click <a href="">here</a>.</p>


    <div class="row my-5">
      <div class="col-lg-4">
        <div class="card shadow bg-white rounded-lg border-0 mb-3">
          <div class="card-body">
            <div class="media mb-3 align-items-center">
              <i class="requirements-icons requirements-linkedin fab fa-linkedin-in mr-3 bg-primary text-white rounded-circle"></i>
              <div class="media-body">
                <h5 class="mt-0 requirements-title-card">Applicants must have a LinkedIn profile</h5>
              </div>
            </div>
            <p class="card-text requirements-para-card">You must have a LinkedIn account before applying. During the application process, you will be required to insert the URL of your LinkedIn profile.</p>
            <a href="/faq" class="text-primary">Read why you need a LinkedIn <i class="fas fa-arrow-right ml-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow bg-white rounded-lg border-0 mb-3">
          <div class="card-body">
            <div class="media mb-3 align-items-center">
              <i class="requirements-icons requirements-age fas fa-users mr-3 bg-warning text-white rounded-circle"></i>
              <div class="media-body">
                <h5 class="mt-0 requirements-title-card">Must be Less than 23 years old.</h5>
              </div>
            </div>
            <p class="card-text requirements-para-card">All applicants must be below the age of 23. If you're 23 or older, you can still contribute to YTS in a variety of other ways. Click below to learn how.</p>
            <a href="/faq" class="text-primary">How can I contribute? <i class="fas fa-arrow-right ml-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow bg-white rounded-lg border-0">
          <div class="card-body">
            <div class="media mb-3 align-items-center">
              <i class="requirements-icons requirements-slack fab fa-slack mr-3 bg-info text-white rounded-circle"></i>
              <div class="media-body">
                <h5 class="mt-0 requirements-title-card">Applicants Must be active on Slack daily.</h5>
              </div>
            </div>
            <p class="card-text requirements-para-card">The YTS Staff uses Slack to communicate. Applicants must be able to access this platform on a daily basis and must respond to all messages.</p>
            <a href="https://slack.com/" target="_blank" class="text-primary">Check out Slack <i class="fas fa-arrow-right ml-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ========================================================== -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 positions-dark-bg py-3">
        <div class="card mb-3 bg-none border-0 py-4">
          <div class="row no-gutters align-items-center">
            <div class="col-md-4 text-center">
              <i class="position-icons fas fa-code text-primary"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title position-title text-white">Website Developer</h5>
                <p class="card-text position-para text-white">Web Developers use HTML, CSS, Boostrap, and Javascript to design, develop, and maintain the YTS Website for users. Read the requirements by clicking the button below.</p>

                <button type="button" class="btn btn-primary btn-positions" data-toggle="modal" data-target="#WebDevRequirements">
                  More Information
                </button>

                <!-- Modal -->
                <div class="modal fade" id="WebDevRequirements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title position-title" id="exampleModalLabel">I want to be a <strong>Website Developer</strong> for YTS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="position-title">Description</h5>
                        <p class="position-para">Your role as a Web Developer will be to design, develop, and maintain the YTS Website.</p>

                        <h5 class="position-title">Requirements</h5>
                        <p class="position-para">Web Developers are expected to know:</p>
                        <ul class="position-para">
                          <li class="font-weight-bold">HTML and CSS</li>
                          <li class="font-weight-bold">Bootstrap (Any Version)</li>
                          <ul>
                            <li>The YTS website is built with Bootstrap 3.3.7</li>
                            <li>We are gradually shifting towards Bootstrap 4.3 as it is the latest version available.</li>
                            <li>Applicants are required to know any version of Bootstrap (because it's easy to pick up on any version once you know one).</li>
                          </ul>
                          <li class="font-weight-bold">Javascript (Optional)</li>
                          <ul>
                            <li>Knowing Javascript will strengthen your application.</li>
                          </ul>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-positions" data-dismiss="modal">Close</button>
                        <a href="Application.html" class="btn btn-primary btn-positions">Apply now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 bg-light py-3">
        <div class="card mb-3 bg-none border-0 py-4">
          <div class="row no-gutters align-items-center">
            <div class="col-md-4 text-center">
              <i class="position-icons fas fa-sticky-note text-primary"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title position-title">Article Writer/Editor</h5>
                <p class="card-text position-para">Article Writers write and edit articles for the YTS Articles initiative. All members who would like to take part in YTS Articles must write at least 1 article before editing others.</p>
               
                <button type="button" class="btn btn-primary btn-positions" data-toggle="modal" data-target="#ArticleRequirements">
                  More Information
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ArticleRequirements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title position-title" id="exampleModalLabel">I want to be a <strong>Article Writer</strong> for YTS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="position-title">Description</h5>
                        <p class="position-para">Your role as an Article Writer will be to write and edit articles for the YTS Articles initiative.</p>

                        <h5 class="position-title">Requirements</h5>
                        <p class="position-para">Article Writers are expected to know:</p>
                        <ul class="position-para">
                          <li class="font-weight-bold">How to read, write, speak and understand English</li>
                          <li class="font-weight-bold">How to teach a young audience</li>
                          <ul>
                            <li>This means being ready to spend half an hour to draw a perfect circle for the head of a stickman.</li>
                          </ul>
                          <li class="font-weight-bold">Be able to explain complex concepts using simpler terms</li>
                          <li class="font-weight-bold">Write at least one article every three weeks</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-positions" data-dismiss="modal">Close</button>
                        <a href="Application.html" class="btn btn-primary btn-positions">Apply now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 bg-light py-3 order-1 order-xs-2">
        <div class="card mb-3 bg-none border-0 py-4">
          <div class="row no-gutters align-items-center">
            <div class="col-md-4 text-center">
              <i class="position-icons fas fa-qrcode text-primary"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title position-title">Coding101 Contributor</h5>
                <p class="card-text position-para">Article Writers write and edit articles for the YTS Articles initiative. All members who would like to take part in YTS Articles must write at least 1 article before editing others.</p>

                <button type="button" class="btn btn-primary btn-positions" data-toggle="modal" data-target="#Coding101Requirements">
                  More Information
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Coding101Requirements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title position-title" id="exampleModalLabel">I want to be a <strong>Coding101 Contributor</strong> at YTS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="position-title">Description</h5>
                        <p class="position-para">Your role as an Article Writer will be to make, edit, advertise, and suggest ideas for the Coding101 Courses.</p>

                        <h5 class="position-title">Requirements</h5>
                        <p class="position-para">Coding101 Contributors are expected to know:</p>
                        <ul class="position-para">
                          <li class="font-weight-bold">The language for the course they would like to work on</li>
                          <ul>
                            <li>Know Python if you want to work on the Python course</li>
                            <li>Know Javascript if you want to work on the Javascript course</li>
                            <li>Etc...</li>
                          </ul>
                          <li class="font-weight-bold">How to teach a young audience</li>
                          <li class="font-weight-bold"></li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-positions" data-dismiss="modal">Close</button>
                        <a href="Application.html" class="btn btn-primary btn-positions">Apply now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 positions-dark-bg py-3 order-2 order-xs-1">
        <div class="card mb-3 bg-none border-0 py-4">
          <div class="row no-gutters align-items-center">
            <div class="col-md-4 text-center">
              <i class="position-icons far fa-money-bill-alt text-primary"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title position-title text-white">Fundraising Member</h5>
                <p class="card-text position-para text-white">The Fundraisers contact other companies that may appeal as donors. This includes finding advertisers, sponsors, and partners for YTS. Read the requirements by clicking the button below.</p>

                <button type="button" class="btn btn-primary btn-positions" data-toggle="modal" data-target="#FundraiserRequirements">
                  More Information
                </button>

                <!-- Modal -->
                <div class="modal fade" id="FundraiserRequirements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title position-title" id="exampleModalLabel">I want to be a <strong>Fundraiser</strong> at YTS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="position-title">Description</h5>
                        <p class="position-para">Your role as a Fundraiser will be to raise funds for YTS (kinda obvious).</p>

                        <h5 class="position-title">Requirements</h5>
                        <p class="position-para">Coding101 Contributors are expected to:</p>
                        <ul class="position-para">
                          <li class="font-weight-bold">Have strong communication skills</li>
                          <li>Be active on the sources we</li>
                          <ul>
                            <li>Slack</li>
                            <li>Monday.com (we kinda use this)</li>
                          </ul>
                          <li class="font-weight-bold">Create posters for events - posters should include:</li>
                          <ul>
                            <li>Links to our website</li>
                            <li>QR Codes</li>
                            <li>A brief description of our organization and our mission</li>
                          </ul>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-positions" data-dismiss="modal">Close</button>
                        <a href="Application.html" class="btn btn-primary btn-positions">Apply now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ========================================================== -->

<div id="social-bg" class="py-5">
  <div class="container">
    <h1 id="newsletter-h1" class="my-5">Subscribe to the @YTS Newsletter</h1>
    <p id="newsletter-text" class="pb-5">
      <a href="" class="mr-3">Sign Up</a> . <a href="" class="mx-3">Why?</a> . <a href="" class="ml-3">Ask a question</a>
    </p>   
  </div>
</div>

<!-- ========================================================== -->

<div class="bg-light">
<div class="container my-5">
  <h1 class="display-4 pt-4 text-center text-dark pb-3" id="open-positions">Open Positions</h1>
<div class="row accordion-gradient-bcg d-flex justify-content-center">
  <div class="col-md-10 col-xl-12 pb-5">
    <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">
      <div class="card mb-3 open-positions-bg">
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
          <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
            aria-controls="collapse1">
            <h5 class="mb-0 white-text text-uppercase open-positions-title">
              Website Developer  <i class="fas fa-angle-down rotate-icon float-right"></i>
            </h5>
          </a>
        </div>

        <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <p class="open-positions-para">There are 5 positions available for this role. The roles are listed below. Before you Apply for this postion, be sure to check the requirements listed above.</p>
            <ul class="open-positions-para">
              <li>Front-end Developer (2x)</li>
              <li>Website Designer</li>
              <li>Back-end Developer (2x)</li>
            </ul>
            <a href="" class="btn btn-light rounded-pill px-3 py-1 btn-open-positions mt-2">Apply for this position</a>
          </div>
        </div>
      </div>

      <div class="card mb-3 open-positions-bg">
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
            aria-expanded="false" aria-controls="collapse2">
            <h5 class="mb-0 white-text text-uppercase font-thin open-positions-title">
              Article Writer/Editor <i class="fas fa-angle-down rotate-icon float-right"></i>
            </h5>
          </a>
        </div>

        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <p class="open-positions-para">There are 3 positions available for this role. The roles are listed below. Before you Apply for this postion, be sure to check the requirements listed above.</p>
            <ul class="open-positions-para">
              <li>Article Writer (2x)</li>
              <li>Article Editor</li>
            </ul>
            <a href="" class="btn btn-light rounded-pill px-3 py-1 btn-open-positions mt-2">Apply for this position</a>
          </div>
        </div>
      </div>

      <div class="card mb-3 open-positions-bg">
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
            aria-expanded="false" aria-controls="collapse3">
            <h5 class="mb-0 white-text text-uppercase font-thin open-positions-title">
              Coding101 Contributor <i class="fas fa-angle-down rotate-icon float-right"></i>
            </h5>
          </a>
        </div>

        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <p class="open-positions-para">There are 2 positions available for this role. The roles are listed below. Before you Apply for this postion, be sure to check the requirements listed above. As of right now, we need only Python Course Contributors. New positions for other languages will be offered here, so be sure to check back here regularly.</p>
            <ul class="open-positions-para">
              <li>Python Course Contributor</li>
              <li>Python Course Reviewer/Advertiser</li>
            </ul>
            <a href="" class="btn btn-light rounded-pill px-3 py-1 btn-open-positions mt-2">Apply for this position</a>
          </div>
        </div>
      </div>


      <div class="card mb-3 open-positions-bg">
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse4"
            aria-expanded="false" aria-controls="collapse3">
            <h5 class="mb-0 white-text text-uppercase font-thin open-positions-title">
              Fundraiser <i class="fas fa-angle-down rotate-icon float-right"></i>
            </h5>
          </a>
        </div>

        <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <p class="open-positions-para">There are 2 positions available for this role. The roles are listed below. Before you Apply for this postion, be sure to check the requirements listed above.</p>
            <ul class="open-positions-para">
              <li>Marketer of YTS content (Articles, Coding lessons)</li>
              <li>Fundraiser (Advertisers & Sponsors)</li>
            </ul>
            <a href="" class="btn btn-light rounded-pill px-3 py-1 btn-open-positions mt-2">Apply for this position</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<%- include('partials/footer') %>