<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/coding101.css">
</head>

<div id="mainJumbotron" class="jumbotron text-center">
    <h1 class="display-1 pb-3 px-4 " id="Coding101">Coding101</h1>
</div>

<%- include('partials/footer') %>