<head>
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>

<div id="mainJumbotron" class="jumbotron text-center">
    <div class="container px-5 pb-5">    
        <!-- <h6 class="text-center">WELCOME TO</h6> -->
         <h1 class="text-center" id="YTS">Youth Tech Society</h1>
        <p class="text-center" id="desc">The Youth Tech Society (YTS) is a student-led organization dedicated to teach and inspire the upcoming generation of tech enthusiasts. Our ambition is to get students involved in tech-related fields at an early age in a fun and interactive way.</p>
    </div>
    <div class="text-center pb-5">
        <img src="../assets/home_main.svg" class="w-50" alt="Youth Tech Society">
    </div>
</div>

<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-4 py-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">YTS Articles</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/articles" class="card-link">View Initiative</a>
                </div>
            </div>            
        </div>
    </div>
</div>


<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>
<h1>wodnowndownd</h1>


<%- include('partials/footer') %>