<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>

<div id="mainJumbotron" class="jumbotron text-center">
    <div class="container px-5 pb-5">    
        <!-- <h6 class="text-center">WELCOME TO</h6> -->
         <h1 class="text-center" id="YTS">Youth Tech Society</h1>
        <p class="text-center" id="desc">The Youth Tech Society (YTS) is a student-led organization dedicated to teach and inspire the upcoming generation of tech enthusiasts. Our ambition is to get students involved in tech-related fields at an early age in a fun and interactive way.</p>
    </div>
    <div class="text-center pb-5">
        <img src="../assets/home_main.svg" class="w-50" alt="Youth Tech Society">
    </div>
</div>

<div>
    <!-- <div class="py-4" style="background: rgb(207, 213, 218);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="display-4 text-dark font-weight-bold section-title">Initiatives</h2>
                    <p>Hey there, welcome to our website! Take a look at our pages to see if anything sparks your interest. We have multiple initiatives we run, check them out below:</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-lg-4 py-4">
                <div class="card border-0 shadow-lg initiative-card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><i class="far fa-copy card-icons mr-2 bg-primary text-white"></i> YTS Articles</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">The Article Initiative is home to a wide network of tech-related articles. The goal of this initiative is to provide conceptual understanding to readers about technology concepts in an easy to understand way.</p>
                        <a href="/articles" class="btn btn-primary card-link">View Initiative</a>
                    </div>
                </div>            
            </div>
            <div class="col-lg-4 py-4">
                <div class="card border-0 shadow-lg initiative-card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><i class="fas fa-code card-icons mr-2 bg-primary text-white"></i> Coding101</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">Coding101 is designed as a classroom source with fully-guided lesson plans and offers complimentary video tutorials and practice problems for the lessons. The lessons consist of detailed and well-explained videos and slides.</p>
                        <a href="/articles" class="btn btn-primary card-link">View Initiative</a>
                    </div>
                </div>            
            </div>
            <div class="col-lg-4 py-4">
                <div class="card border-0 shadow-lg initiative-card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"><i class="fab fa-connectdevelop card-icons mr-2 bg-primary text-white"></i> Techub</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">Techub is an open-source platform for anyone to share their projects their tech projects, get feedback from the YTS community, and help others. YTS users and staff are always happy to help, so don't hesistate to ask anything.</p>
                        <a href="/articles" class="btn btn-primary card-link">View Initiative</a>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <h1 class="text-left font-weight-bold">Apply for a position</h1>
    <p>The Youth Tech Society began with three young and determined tech enthusiasts who had dreams of creating something they could not find, a youth-friendly tech site. It was our ambition to teach tech related concepts and inspire the up and coming generation of people working in the tech industry. This can only be accomplished by having a thriving and growing global family. Apply now and be part of a growing community.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="media bg-danger p-3">
                <div class="align-self-center mr-3">
                    <i class="fas fa-terminal fa-3x"></i>
                </div>
                <div class="media-body text-white">
                  Web Developers use HTML, CSS, Boostrap, and Javascript to design, develop, and maintain the YTS Website for users. Read the requirements by clicking the button below.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="media bg-danger p-3">
                <div class="align-self-center mr-3">
                    <i class="fas fa-sticky-note fa-3x"></i>
                </div>
                <div class="media-body text-white">
                    Article Writers write and edit articles for the YTS Articles initiative. All members who would like to take part in YTS Articles must write at least 1 article before editing others.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="media bg-danger p-3 mt-3">
                <div class="align-self-center mr-3">
                    <i class="fas fa-qrcode fa-3x"></i>
                </div>
                <div class="media-body text-white">
                    Article Writers write and edit articles for the YTS Articles initiative. All members who would like to take part in YTS Articles must write at least 1 article before editing others.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="media bg-danger p-3 mt-3">
                <div class="align-self-center mr-3">
                    <i class="far fa-money-bill-alt fa-3x"></i>
                </div>
                <div class="media-body text-white">
                    Article Writers write and edit articles for the YTS Articles initiative. All members who would like to take part in YTS Articles must write at least 1 article before editing others.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5 py-5" style="background: #212529;">
    <div class="container text-center">
        <h1 id="newsletter-h1">Subscribe for monthly news</h1>
        <p class="text-white">Have our latest content, updates, and ideas sent straight into your inbox. Biweekly newsletter updates.</p>
        <form action="/newsletter" method="POST">
            <div class="row form-inline">
                <input type="email" name="email" class="form-control mr-2" placeholder="Your email here">
                <input type="submit" class="form-control btn-primary">
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer') %>