<form action="/post_article" method="POST">
    <input type="text" placeholder="title of article" name="title">
    <br><br>
    <input type="text" placeholder="description of article" name="description">
    <br><br>
    <input type="text" placeholder="image for article" name="image">
    <br><br>
    <textarea name="content" cols="200" rows="100" placeholder="body of the article" contenteditable="true"></textarea>
    <br><br>
    <input type="submit">
</form>